/* .wrapper {
  display: flex;
  flex-wrap: wrap;
} */

.vertical-card-container {
  width: 250px;
  border: 1px solid rgb(126, 126, 126);
  padding-bottom: 10px;
  margin: 20px 10px;
  /*   height: 100px; */
  /*   min-width: 320px; */
}

.vertical-card-container,
.vertical-card-avatar-box,
.vertical-card-avatar-box img {
  border-radius: 14px;
}

.vertical-card-avatar-box,
.vertical-card-avatar-box img {
  height: 140px;
  width: 252px;
}

.vertical-card-avatar-box {
  position: relative;
  transform: translate(-1px, -1px);
}

.vertical-card-avatar-box .price {
  background-color: rgb(5, 204, 155);
  color: white;
  font-size: 14px;
  padding: 3px;
  position: absolute;
  bottom: -10px;
  right: 8px;
}

.vertical-card-content-box {
  margin: 5px 6px;
}

.vertical-card-title-box {
  text-align: center;
}

.author {
  font-size: 13px;
}

.vertical-card-footer-container {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}
